/* https://raw.githubusercontent.com/Fresh4Less/pictureisworth/master/client/styles.css */
html {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
	background-color: #666;
	color:white;
	font-family: 'Lato', sans-serif;
	margin: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding-top: 1px;
}

footer {
	position: absolute;
	height: 25px;
	bottom: 0px;
	left: 0px; 
	right: 0px;
	text-align: center;

	background-color: #444444;
}

a {
	color: #dddddd;
}

footer ul {
	margin: 0;
	padding: 0;
	top: 50%;
	vertical-align: middle;
}

footer ul li {
	list-style-type: none;
	display: inline;
}

footer li:not(:first-child):before {
	content: " | ";
	margin: 10px;
}

.content-wrap {
	width: 800px;
	margin: 0 auto;
}

#title {
	text-align: center;
	font-size: 5em;
	margin-top: 40px;
	margin-bottom: 20px;
}

#subtitle {
	text-align: center;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 10px;
}

#someImage {
	font-size: 2em;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: TranslateX(-50%);
}

.spincounter {
	display: inline-block;
	overflow: hidden;
	height: 0.8em;

}

.spincounter .placeholder {
	position: relative;
	visibility: hidden;
}

.spincounter .spinner {
	visibility: visible;
	line-height: 80%;
	position: absolute;
	left: 0px;
	top: 0px;
	font-weight: 400;

	transition: top 1.5s ease-out;
}

.notransition {
	transition: none !important;
}

.image-display {
	text-align: center;
}

.image-preview-outer {
	height: 30vh;
	max-height: 500px;
	width: auto;
	margin: 0 auto;
	overflow: visible;
}

.image-preview-inner {
	position: relative;
	float: right;
	right: 50%;
}

#image-preview {
	position: relative;
	right: -50%;
	height: 30vh;
	max-height: 500px;
}

#image-word-count {
	font-size: 7em;
}

#image-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#image-submit {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#image-submit + label {
	visibility: hidden;
}

#image-upload-form input + label {
	display: block;
	width: 200px;
	margin: 10px auto;

	font-size: 1.25rem;
	/* 20px */
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	overflow: hidden;
	padding: 0.625rem 1.25rem;
	/* 10px 20px */
}

#image-upload-form input:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

#image-upload-form input + label svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em;
	/* 4px */
	margin-right: 0.25em;
	/* 4px */
}

#image-upload-form input + label {
	color: #f1e5e6;
	background-color: #d3394c;
}

#image-upload-form input:focus + label,
#image-upload-form input + label:hover {
	background-color: #722040;
}

#image-input + label {
	color: #111111 !important;
	background-color: white !important;
}

#image-input:hover + label {
	background-color: #dddddd !important;
}

#image-upload-error {
}
